name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
      - run: docker build -t ${{ secrets.DOCKER_USER }}/static-site .
      - run: docker push ${{ secrets.DOCKER_USER }}/static-site