name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      
      - name: Build Docker image
        run: |
          docker build -t loonsg/static-site:latest .
          docker tag loonsg/static-site:latest loonsg/static-site:${{ github.sha }}
      
      - name: Push to DockerHub
        run: |
          docker push loonsg/static-site:latest
          docker push loonsg/static-site:${{ github.sha }}